.navbar {
    min-height: 100px;
    margin-bottom:0;
}

html {
    background: #EBEBEB;
}
.navbar-brand {
    padding: 20px;
}

.navbar-default {
    border: 1px solid transparent;
    box-shadow:none;
}

.navbar-default .navbar-nav>a {
    text-decoration: underline;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a, .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    /*border-bottom: 2px solid #4DFF9C ;*/
    padding-bottom: -2px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    font-family: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
    font-size: 24px;
    color: #000000;
}

.nav {
    text-align:center;
}

.dropdown-menu {
    box-shadow: none;
    border:none;
    border-radius:0;
}

.wd-dropdown {
    border-top:2px solid #4DFF9C;
    padding: 0;
}

.wd-dropdown li a {
     padding:18px 14px;
}

.wd-dropdown >li> a::hover {
    background-image: none;
    background-color: transparent;
    border-bottom:2px dotted #4DFF9C;
}



/*TYPOGRAPHY ************************
***********/
.sans-serifs {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.serifs {
    font-family: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
}

.large {
    font-size:72px;
}

.bold {
    font-weight:800;
}

.subtitle {
    /* So strongly and meta: */
    margin-top:40px;
    font-family: Montserrat-UltraLight;
    font-size: 21px;
    color: #979797;
    line-height: 27px;
}

/*WORKS PAGE *********************
***********/
.no-margin {
    margin:0 !important;
}

.no-padding {
    padding:0 !important;
}

.wd-margin-t10 {
    margin-top:10px !important;
}

.wd-margin-t30 {
    margin-top:30px !important;
}

.wd-margin-t50 {
    margin-top:50px !important;
}

.wd-margin-b10 {
    margin-top:10px !important;
}
.wd-margin-b30 {
margin-top:30px !important;
}

.wd-margin-b50 {
    margin-top:50px !important;
}

.wd-margin-t-140 {
    margin-top:-140px !important;
}

.wd-xs-box-shadow {
    -webkit-box-shadow: 0 0 12px rgba(0,0,0,1);
    -moz-box-shadow: 0 0 12px rgba(0,0,0,1);
    box-shadow: 0 0 12px rgba(0,0,0,1);
}

.wd-sm-box-shadow {
    -webkit-box-shadow: 0 0 50px -12px rgba(0,0,0,0.1), 0 0 12px rgba(0,0,0,1);
    -moz-box-shadow: 0 0 50px -12px rgba(0,0,0,0.1),  0 0 12px rgba(0,0,0,1);
    box-shadow: 0 0 50px -12px rgba(0,0,0,0.1),  0 0 12px rgba(0,0,0,0.1);
}

.wd-lg-box-shadow {
    -webkit-box-shadow: 60px 60px 47px -17px rgba(0,0,0,.2);
    -moz-box-shadow: 60px 60px 47px -17px rgba(0,0,0,.2);
    box-shadow: 60px 60px 47px -17px rgba(0,0,0,.2);
}




/*WEB CARDS*****************
**********/


.project-card {
    background-image: -webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), to(#e8e8e8));
    background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
    min-height: 475px;
    border-radius:10px;
}

.no-padding, .web-card .project-img, .web-card {
    padding: 0 !important;
}

.no-margin, .web-card .project-img {
    margin: 0 !important;
}

.projects a:hover {
    text-decoration: none;
    color: #000000;
}

.projects a .web-card .name h4:hover {
    text-decoration:none !important;
}

.web-card {
    margin-top:20px;
    border-radius: 10px;
}

.web-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.name {
    background-color: #fff;
    height: 100%;
    padding: 20px 15px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.name h1 {
    color:black;
    text-transform:uppercase;
}
.name h1:hover {
    text-decoration:underline;
}
.name h4 {
    font-family:monospace;
    color:#ccc;
}


/*Container *************
***********/

.container {
    padding:0 40px;
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
    }

}



/*Sample project *********
***********/

.project-img {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
}

.evydent {
    background-image: url("projects/evydent/cover.jpg");
}

.inner {
    background-color: rgba(255,255,255,1);
    border-radius:8px;
    max-width:90%;
    margin: 0 auto;
}




.project-title {
    padding:60px 40px;
}
.content-0 {
    padding:200px 0 10px;
}

.dark-bg {
    color:#ddd;
}



/* ----------------------------------------------------------------
	Swiper Slider
-----------------------------------------------------------------*/


.swiper-container {
    margin:0 auto;
    position:relative;
    overflow:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    /* Fix of Webkit flickering */
    z-index:1;
}

.swiper-wrapper {
    position:relative;
    width:100%;
    -webkit-transition-property:-webkit-transform, left, top;
    -webkit-transition-duration:0s;
    -webkit-transform:translate3d(0px,0,0);
    -webkit-transition-timing-function:ease;

    -o-transition-property:-o-transform, left, top;
    -o-transition-duration:0s;
    -o-transform:translate3d(0px,0,0);
    -o-transition-timing-function:ease;
    -o-transform:translate(0px,0px);

    transition-property:transform, left, top;
    transition-duration:0s;
    transform:translate3d(0px,0,0);
    transition-timing-function:ease;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.swiper-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}

.swiper-slide { float: left; }

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal { -ms-touch-action: pan-y; }
.swiper-wp8-vertical { -ms-touch-action: pan-x; }


/* FOOTER */

.footer {
    padding:30px 0;
    background-color:#222;
    position: relative;
}

.contact a {
    display: inline-block;
}

.social a:hover, .contact a:hover {
    color:#fff;
    text-decoration: none;
}

.footer-logo {
    height:100px;
    margin-bottom: 0;
    margin-right: 30px;
}

.social a {
    margin:0 15px;
}

.contact {
    margin-top:4%;
}
.social {
    margin-top:5%;
}

.contact a {
    display: block;
    clear: both;
    float: left;
}

.wd-large-btn {
    border-radius: 4px;
    padding: 4px 40px;
}

.wd-color {
    background-color: #57FC9E;
}

.text-white {
    color: #ffffff;
}

.font-w-100 {
    font-weight: 100;
}